.wrapper {
    width: 100%;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 var(--space-5) 0;
    text-align: center;
}

.content {
    line-height: 1.6;
}

.content p:last-child {
    margin-bottom: 0;
}
