.wrapper {
    width: 100%;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 var(--space-2) 0;
    text-align: center;
}

.wrapper .muted {
    display: block;
    text-align: center;
    margin-bottom: var(--space-5);
}
